
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: linear-gradient(to bottom, #6f8069, rgb(22, 100, 54));
    color: #ffffff;
    padding-top: 160px; /* espaço para o header fixo */
}

/* HEADER */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(255, 255, 255,0.3);
    color: white;
    padding: 15px 30px;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

/* ÍCONES SOCIAIS */
.social-icons {
    align-self: center;
}

.social-icons a {
    color: white;
    margin-left: 12px;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #000000;
}


/* PERFIL */
.perfil {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.perfil img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid white;
}

.perfil h1 {
    font-size: 1.8rem;
    font-weight: bold;
}

/* MENU */
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #151412;
}

/* SEÇÕES */
section {
    padding: 60px 20px;
    max-width: 1000px;
    margin: auto;
}

h4 { text-align: center;}

h2 {
    margin-bottom: 20px;
    font-size: 2rem;
    color: rgb(233, 249, 255);
}

/* SERVIÇOS */

.intro {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.caixa-serviços {
    flex: 0;
    display: inline-block;
    background: rgb(255,255,255,0.3); /* azul mais claro */
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
}

.caixa-sou {
    flex: 1;
    background: rgb(255,255,255,0.3); /* azul mais claro */
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
}
.caixa h2 {
    margin-top: 0;
    color: #ffffff;
}
.servicos ul {
    list-style: none;
    padding-left: 0;
}

.servicos li {
    background: #6b0808;
    margin: 10px 0;
    padding: 12px;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

/* FOTOS PROJETOS */

.container-projetos {
    display: flex;
    justify-content: center; /* centraliza horizontalmente */
    align-items: flex-start; /* alinha as imagens ao topo */
    gap: 20px;               /* espaçamento entre imagens */
    margin-top: 40px;
}

.container-projetos img {
    width: 100px;
    height: 100px;
    object-fit: cover; /* Corta e preenche proporcionalmente */
    border-radius: 10px; /* opcional: cantos arredondados */
    box-shadow: 0 0 10px rgba(0,0,0,0.3); /* opcional: sombra */
    display: flex;
    gap:30px;

}




/* FOOTER */
footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

.projeto-portifolio:hover {
    
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
    transform: translateY(-10px) scale(1.0);


}

.projeto-portifolio {
     transition: all 0.5 ease;
}